In [6]:
"""
The program below is a tutorial program used to learn how to connect python with SQL.
It is based on work done by:
    Craig Dickson< https://www.freecodecamp.org/news/connect-python-with-sql/ >
"""

'\nThe program below is a tutorial program used to learn how to connect python with SQL.\nIt is based on work done by:\n    Craig Dickson< https://www.freecodecamp.org/news/connect-python-with-sql/ >\n'

In [10]:
# 1. Connecting to MySQL Server
import mysql.connector # Python library used to connect the script to our MySQL server
from mysql.connector import Error # Provides easy access to the error function
import pandas as pd # Python library used for data analysis

def create_server_connection(host_name, user_name, user_password):
    """
    This function lets us establish a connection to our server
    """
    connection = None # Closes any existing connections so that the sever doesn't become confused with multiple open connections
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
pw = "#Cheng0469"
connection = create_server_connection("localhost","root", pw)

MySQL Database connection successful

In [3]:
# 2. Creating a New Database
def create_database(connection, query):
    """
    This function takes two arguments, a connection and a query, 
    executing the query in the server via the connection.
    """
    cursor = connection.cursor()
    try:
        cursor.execute(query) # Executes our queries on the MySQL Server
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'") 
# Initialize query to create our database
create_database_query = "CREATE DATABASE school"
# Create our database
create_database(connection, create_database_query)

NameError: name 'connection' is not defined

In [13]:
# 3. Connecting to the Databse
def create_db_connection(host_name, user_name, user_password, db_name):
    """
    This function is used to connect to a specific, already created database in
    our MySQL Server
    """
    connecton = None
    try:
        connection = mysql.connector.connect(
            host = host_name,
            user = user_name,
            passwd = user_password,
            database = db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")
    return connection
pw = "#Cheng0469"
db = "school"
connection = create_db_connection("localhost", "root", pw, db)

MySQL Database connection successful

In [15]:
# 4. Creating  Query Execution Function
def execute_query(connection, query):
    """
    The function takes our SQL queries , stored in Python as strings, and 
    passes them to the cursor.execute() method to execute them on the server.
    """
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit() # Ensures that the commands detailed in our SQL queries are implemented
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [17]:
# 5. Creating Tables
# In triple quoted strings, unescaped newlines & quotes are allowed
create_teacher_table = """
CREATE TABLE teacher (
    teacher_id INT PRIMARY KEY,
    first_name VARCHAR(40) NOT NULL,
    last_name VARCHAR(40) NOT NULL,
    language_1 VARCHAR(3) NOT NULL,
    language_2 VARCHAR(3),
    dob DATE,
    tax_id INT UNIQUE,
    phone_no VARCHAR(20)
    )
"""

connection = create_db_connection("localhost", "root", pw, db) # Connect to the Databse
execute_query(connection, create_teacher_table) # Execute our defined query

MySQL Database connection successful
Query successful